	</div>
	<div id="page-footer">
		<div class="navbar">
			
		</div>
	</div>
</div>
<div id="mfooter">
	<div class="inner">
		
                Online GRE-MBA Course Management
		<!-- IF TRANSLATION_INFO-->  &bull; {TRANSLATION_INFO}<!-- ENDIF -->
		<!-- IF DEBUG_OUTPUT --> &bull; {DEBUG_OUTPUT}<!-- ENDIF -->
		<br /><!-- IF U_ACP --><a href="{U_ACP}">{L_ACP}</a> &bull; <!-- ENDIF -->Site created by <a href="http://www.driptiosoft.com">driptoSoft</a>
	</div>
</div>
<div>
	<a id="bottom" name="bottom" accesskey="z"></a>
	<!-- IF not S_IS_BOT -->{RUN_CRON_TASK}<!-- ENDIF -->
</div>

</body>
</html>